#encabezado{
    background-image: url(../imagenes/supermercadoalpaso1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: auto;
    opacity: 0.8;
    @media all and(max-width: 576px){
        height: auto;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        .tituloNa{
            color: $negro;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 350px;
            animation-name: colores;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes colores {
                0%{color: $negro}
                20%{color: $blanco}
                40%{color: $rojo}
                60%{color: $amarillo}
                80%{color: $azul}
                100%{color: $negro}
            }
            @media all and(min-width: 1200px){
                font-size: 1.5rem;
                text-align: center;
                margin-right: 200px;
            }
            @media all and (max-width: 576px){
                margin-right: 150px;
                font-size: 2rem;
            }
        }
        .listado{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            .enlaceHeader{
                text-decoration: none;
                color: $amarillo;
                text-shadow: 2px 2px 2px $negro;
                font-size: 2.5rem;
                margin-left: 10px;
                &:hover{
                    color: $azul;
                    border-bottom:2px solid $azul;
                    margin-top: -15px;
                }
                @media all and (max-width: 1200px){
                    font-size: 1.3rem;
                }
                @media all and (max-width: 576px){
                    font-size: 1.5rem;
                }
            }
        }  
    }
    .contenidoHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        .tituloHeader{
            font-size: 3rem;
            margin-bottom: 1rem;
            padding-top: 20rem;
        }
        .content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            bottom: 1rem;
            .imagenesListado{
                width: 50px;
                height: 50px;
                @media all and (max-width: 576px){
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }
        }
    }
}
#encabezadoPoducto{
    background-image: url(../imagenes/productos.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: auto;
    .header{
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        .tituloNa{
            color: $blanco;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 350px;
            z-index: 1;
            animation-name: colores;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: 4;
            @keyframes colores {
                0%{color: $negro}
                20%{color: $blanco}
                40%{color: $rojo}
                60%{color: $amarillo}
                80%{color: $azul}
                100%{color: $negro}
            }
            @media all and(min-width: 1200px){
                font-size: 1.5rem;
                text-align: center;
                margin-right: 200px;
            }
            @media all and (max-width: 576px){
                margin-right: 150px;
                font-size: 2rem;
            }
        }
        .listado{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            z-index: 20;
            .enlaceHeader{
                text-decoration: none;
                color: $amarillo;
                text-shadow: 2px 2px 2px $negro;
                font-size: 2.5rem;
                margin-left: 10px;
                &:hover{
                    color: $azul;
                    border-bottom:2px solid $azul;
                    margin-top: -15px;
                }
                @media all and (max-width: 1200px){
                    font-size: 1.3rem;
                }
                @media all and (max-width: 576px){
                    font-size: 1.5rem;
                }
            }
        }  
    }
    .contenidoHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        .tituloHeader{
            padding: 10rem;
        }
        .content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            .imagenesListado{
                width: 50px;
                height: 50px;
                margin-left: 50px;
                @media all and (max-width: 576px){
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }
        }
    }
}
#encabezadoServicio{
    background-image: url(../imagenes/encabezadoServicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: auto;
    .header{
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        .tituloNa{
            color: $azul;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 350px;
            animation-name: colores;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: 4;
            @keyframes colores {
                0%{color: $negro}
                20%{color: $blanco}
                40%{color: $rojo}
                60%{color: $amarillo}
                80%{color: $azul}
                100%{color: $negro}
            }
            @media all and(min-width: 1200px){
                font-size: 1.5rem;
                text-align: center;
                margin-right: 200px;
            }
            @media all and (max-width: 576px){
                margin-right: 150px;
                font-size: 2rem;
            }
        }
        .listado{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            .enlaceHeader{
                text-decoration: none;
                color: $amarillo;
                text-shadow: 2px 2px 2px $negro;
                font-size: 2.5rem;
                margin-left: 10px;
                &:hover{
                    color: $azul;
                    border-bottom:2px solid $azul;
                    margin-top: -15px;
                }
                @media all and (max-width: 1200px){
                    font-size: 1.3rem;
                }
                @media all and (max-width: 576px){
                    font-size: 1.5rem;
                }
            }
        }
    }
    .contenidoHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        .tituloHeader{
            padding: 10rem;
        }
        .content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            .imagenesListado{
                width: 50px;
                height: 50px;
                margin-left: 50px;
                @media all and (max-width: 576px){
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }
        }
    }
}
#encabezadoPreguntas{
    background-image: url(../imagenes/preguntas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    .header{
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        .tituloNa{
            color: $negro;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 350px;
            animation-name: colores;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: 4;
            @keyframes colores {
                0%{color: $negro}
                20%{color: $blanco}
                40%{color: $rojo}
                60%{color: $amarillo}
                80%{color: $azul}
                100%{color: $negro}
            }
            @media all and(min-width: 1200px){
                font-size: 1.5rem;
                text-align: center;
                margin-right: 200px;
            }
            @media all and (max-width: 576px){
                margin-right: 150px;
                font-size: 2rem;
            }
        }
        .listado{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            .enlaceHeader{
                text-decoration: none;
                color: $amarillo;
                text-shadow: 2px 2px 2px $negro;
                font-size: 2.5rem;
                margin-left: 10px;
                &:hover{
                    color: $azul;
                    border-bottom:2px solid $azul;
                    margin-top: -10px;
                }
                @media all and (max-width: 1200px){
                    font-size: 1.3rem;
                }
                @media all and (max-width: 576px){
                    font-size: 1.5rem;
                }
            }
        }
    }
    .contenidoHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        .tituloHeader{
            padding: 12.5rem;
        }
        .content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            .imagenesListado{
                width: 50px;
                height: 50px;
                margin-left: 50px;
                @media all and (max-width: 576px){
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }
        }
    }
}
#encabezadoContacto{
    background-image: url(../imagenes/contacto.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: auto;
    .header{
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        .tituloNa{
            color: $negro;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.8rem;
            font-style: italic;
            margin-right: 350px;
            animation-name: colores;
            animation-duration: 6s;
            animation-timing-function: linear;
            animation-iteration-count: 4;
            @keyframes colores {
                0%{color: $negro}
                20%{color: $blanco}
                40%{color: $rojo}
                60%{color: $amarillo}
                80%{color: $azul}
                100%{color: $negro}
            }
            @media all and(min-width: 1200px){
                font-size: 1.5rem;
                text-align: center;
                margin-right: 200px;
            }
            @media all and (max-width: 576px){
                margin-right: 150px;
                font-size: 2rem;
            }
        }
        .listado{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            .enlaceHeader{
                text-decoration: none;
                color: $amarillo;
                text-shadow: 2px 2px 2px $negro;
                font-size: 2.5rem;
                margin-left: 10px;
                &:hover{
                    color: $azul;
                    border-bottom:2px solid $azul;
                    margin-top: -10px;
                }
                @media all and (max-width: 1200px){
                    font-size: 1.3rem;
                }
                @media all and (max-width: 576px){
                    font-size: 1.5rem;
                }
            }
        }
    }
    .contenidoHeader{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        .tituloHeader{
            padding: 10rem;
        }
        .content{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            .imagenesListado{
                width: 50px;
                height: 50px;
                margin-left: 50px;
                @media all and (max-width: 576px){
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }
        }
    }
}