$blanco-fondo: rgb(236, 236, 236);
$blanco: rgb(248, 246, 246);
$negro: rgb(0, 0, 0);
$negro-fondo: rgba(5, 2, 2, 0.603);
$amarillo-transparent: rgba(255, 255, 0, 0.822);
$amarillo-fondo: rgba(248, 248, 51, 0.5);
$amarillo: yellow;
$rojo: rgba(253, 19, 19, 0.932);
$rojo-fondo: rgba(255, 0, 0, 0.63);
$rojo-fuerte: rgb(252, 14, 14);
$azul: blue;
$azul-fondo: rgb(2, 27, 250);
$grisClaro: rgb(211, 211, 211);
$grisOscuro: rgb(68, 68, 68);