$blanco-fondo: #f1f2f6;
$blanco: #ffffff;
$negro: #1e272e;
$negro-fondo: #485460;
$amarillo-transparent: #ffdd59;
$amarillo-fondo: #ffa801;
$amarillo: #ffd32a;
$rojo: #f53b57;
$rojo-fondo: #ff5e57;
$rojo-fuerte: #ff3f34;
$azul: #3c40c6;
$azul-fondo: #575fcf;
$grisClaro: #d2dae2;
$grisOscuro: #808e9b;